@import 'bootstrap.css';
@import './login';

@small-screen: 567px;
@medium-screen: 768px;
@large-screen: 992px;
@extra-large-screen: 1280px;
@super-large-screen: 1600px;
@color-white: #ffffff;
@color-gray-light: #f8f9fa;

.text {
  &-decoration-none {
    text-decoration: none !important;

    &:hover,
    &:focus {
      text-decoration: none !important;
    }
  }
}

.cbn {
  &-header {
    background: @color-gray-light;
    @media (max-width: @medium-screen) {
      padding: 0 5px;
    }

    &-menu {
      white-space: nowrap !important;
      background: @color-gray-light;
      border-bottom: none;
      @media (max-width: @large-screen) {
        white-space: unset;
        max-width: 50%;
      }
    }
  }

  &-logo {
    padding-right: 16px;
    padding-left: 40px;
    line-height: 64px;
    white-space: nowrap;
    text-decoration: none;
    font-size: 18px;
    overflow: hidden;

    img {
      position: relative;
      top: -1.5px;
      height: 32px;
      margin-right: 16px;
    }
  }

  &-user {
    &.ant-form-horizontal {
      .ant-form-item-label {
        text-align: left;
      }
    }
  }

  &-type-card {
    &.active {
      border: 1px solid #1890ff;
    }

    .ant-card-head {
      min-height: auto;
      padding: 8px;
      margin-bottom: 0;
      background-color: rgba(0, 0, 0, 0.03);
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
      position: relative;

      .ant-card-head-title {
        padding: 0;
      }

      .ant-card-extra {
        position: absolute;
        padding: 0;
        top: 0px;
        right: 0px;
      }
    }

    .ant-card-cover {
      text-align: center;
    }

    .ant-card-body {
      padding: 10px;
    }
  }

  &-type-image {
    height: 160px;
    width: 160px;
    overflow: hidden;
    margin: auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  &-card {
    &__category {
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
      //overflow: hidden;
    }
  }

  &-tab {
    &__category {
      .ant-tabs-nav {
        &::before {
          border-bottom: none;
        }
      }

      .ant-tabs-nav-list {
        width: 100%;

        .ant-tabs-tab {
          flex: 1;
          justify-content: center;
          border-color: #dee2e6 #dee2e6 #fff;
          padding: 10px 16px;
          border-radius: 4px 4px 0 0 !important;

          &:hover,
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}

.cbn-list-items {
  .ant-list-item {
    border: 1px solid #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;

    &:last-child {
      border: 1px solid #f0f0f0;
    }

    &.active {
      border: 1px solid #1890ff;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.h {
  &-82x {
    max-height: 82px;
    height: 82px;
  }

  &-85x {
    max-height: 85px;
    height: 85px;
  }
  &-134x {
    max-height: 134px;
    height: 134px;
  }
  &-180x {
    max-height: 180px;
    height: 180px;
  }
}

.cbn-style {
  .cbn-type-image {
    width: 100%;
    height: 60px;
  }
}

.preview-title {
  min-height: 38px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.cbn-sidebar {
  width: 150px;
  position: absolute;
  z-index: 9999;
  &.sticky {
    top: 20px;
  }
  &-left {
    left: -160px;
  }
  .cbn-menu-sidebar {
    border-right: 0px;
    list-style: none;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;
    li {
      cursor: pointer;
      padding: 10px 6px;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

@media (min-width: @medium-screen) {
  .w-md-100 {
    width: 100%;
  }
}

@media (min-width: @large-screen) {
  .w-lg-100 {
    width: 100%;
  }
}

@media (max-width: @extra-large-screen) {
  .container.content-page {
    max-width: 960px !important;
  }
  .cbn-type-image {
    width: 100%;
    padding-top: 100%;
    position: relative;
    img {
      position: absolute;
      top: 0px;
      height: auto;
      left: 0px;
      righ: 0px;
    }
  }
  .cbn-sidebar {
    width: 120px;
    &-left {
      left: -130px;
    }
  }
}

@media (min-width: @extra-large-screen) {
  .w-xl-100 {
    width: 100%;
  }
}

@media (min-width: @extra-large-screen) and (max-width: @super-large-screen) {
  .container.content-page {
    max-width: 1024px !important;
  }
  .cbn-type-image {
    width: 100%;
    padding-top: 100%;
    position: relative;
    img {
      position: absolute;
      top: 0px;
      height: auto;
      left: 0px;
      righ: 0px;
    }
  }
  .cbn-sidebar {
    max-width: 150px;
    width: 120px;
    &-left {
      left: -130px;
    }
  }
}
