@import './_mixin';

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: @gray-lighten-more;
  background-size: cover;
  transition: background-image 0.4s linear;

  @media (max-width: @sm-max-width) {
    :global(.login-heading) {
      display: none;
    }
  }

  &.light {
    .content {
      :global(.login-heading),
      :global(h1) {
        color: @white;
      }
    }

    .navigationItems li a {
      color: @white;
      &:hover,
      &:focus {
        border-bottom: 1px solid rgba(@white, 0.4);
      }
      &.navigationActive {
        border-bottom: 1px solid @white;
      }
    }

    .footer {
      color: @white;
      li a {
        color: @white;
      }
    }
  }
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  align-self: flex-start;
  width: 100%;
  padding: 40px;

  @media (max-width: @md-max-width) {
    padding: 40px 20px 40px;
  }

  @media screen and (max-width: @sm-max-width) {
    flex-direction: column;
    flex-wrap: nowrap;
    flex-shrink: 0;
    margin-bottom: 0;
  }
}

.logo {
  max-height: 80px;
  flex-shrink: 0;

  img {
    max-height: 80px;
  }
}

.controls {
  margin-right: auto;
  margin-left: 20px;

  @media screen and (max-width: @md-max-width) {
    order: 1;
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }

  @media screen and (max-width: @sm-max-width) {
    display: none;
  }
}

.navigation {
  padding-top: 10px;
  padding-bottom: 10px;

  @media screen and (max-width: @sm-max-width) {
    display: none;
  }
}

.navigationItems {
  list-style: none;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;

  @media screen and (max-width: @sm-max-width) {
    margin-top: 10px;
  }

  li {
    text-transform: uppercase;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-grow: 1;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }

    a {
      color: @text;
      font-weight: 700;

      &:hover,
      &:focus {
        border-bottom: 1px solid rgba(@text, 0.4);
      }

      &.navigationActive {
        border-bottom: 1px solid @text;
      }
    }
  }
}

.content {
  align-self: middle;
}

.footer {
  align-self: flex-end;
  width: 100%;
  color: @text;
  padding: 40px;

  @media (max-width: @md-max-width) {
    padding: 40px 20px 40px;
  }

  @media (max-width: @sm-max-width) {
    padding: 40px 20px 20px;
  }

  ul {
    margin-bottom: 0;
    li {
      margin-right: 20px;
      text-transform: uppercase;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: @text;
        opacity: 0.7;
        line-height: 1.4;
        display: inline-block;
        margin-right: 10px;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}


.login {
  background-size: cover;
  background-color: @gray-lighten-more;
  background-position: center center;
}

.title {
  margin: 0 auto;
  max-width: 740px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  h1 {
    font-weight: 900;
    margin-bottom: 30px;
  }
}

.block {
  padding: 40px 40px 80px;
  width: 100%;
  align-self: center;
  position: relative;
  z-index: 2;

  @media (max-width: @md-max-width) {
    padding: 20px;
  }
}

.inner {
  min-width: 300px;
  max-width: 500px;
  margin: 0 auto;
  padding: 50px 40px 20px;
  border-radius: 10px;
  overflow: hidden;
  background-color: @white;
  position: relative;
  .login-form{

    .item-login{
      span {
        font-size: 13px;
      }
    }
    .login-form-forgot {
      color: @blue !important;
      span {
        border-bottom: 1px solid rgba(57,55,73,.25);
      }

    }
    @media (max-width: @md-max-width) {
      padding: 30px 30px 10px;
    }
  }

}

.form {
  position: relative;
  z-index: 2;
}

/////////////////////////////////////////////////////////
//WIDTH
.w {
  &__150 {
    width: 150px !important;
  }
}
//END - WIDTH

.custom-error {
  color: @red !important;
}